html {
    font-size: 90.5%;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    overflow-y: scroll;
}
body {
    font-family: "Merriweather", serif;
    line-height: 1.75;
    font-size: 14px;
   /*color: #444;
   */
    background-color: #f3f3f3;
}
.site {
    padding: 24px 24px 0;
    background-color: #fff;
    width: 80%;
    margin: auto;
    min-width: 800px;
    max-width: 900px;
    border: 0;
}
header, div, body, nav, footer {
    display: block;
}
.site-header {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    height: auto;
    margin-bottom: 24px;
    text-align: left;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, footer, header, hgroup, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/*headercss*/
#imagelogo {
    float: left;
    margin: 0 0 5px 5px;
    border: 0;
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 10px;
}
#hgroup {
    display: inline-block;
    margin: 17px 0;
    padding: 14px 0;
    float: none;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
#hgroup a {
    font-size: 34px;
    font-weight: 400;
    text-decoration: none;
    padding-left: 15px;
    color: #444;
    text-shadow: 0.1px 1px 2px #888;
}
#hgroup .site-description {
    font-weight: 400;
    padding-left: 18px;
    line-height: 2;
    font-size: 18px;
    text-shadow: 0.1px 1px 2px #ccc;
}
.socialmedia {
    float: right;
    padding: 7px 10px;
    text-align: right;
    width: 35%;
    margin-top: 30px;
}
.socialmedia a {
    padding: 0 3px;
}
.socialmedia i {
    border: 1px solid #333;
    border-radius: 30px;
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 14px;
    padding: 8px;
    vertical-align: top;
    width: 14px;
}
.themonic-nav {
    box-shadow: 1px 2px 9px 1px #f8f8f8;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom: 4px solid #cc1919;
    background-color: #e9e9e9;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.themonic-nav li a {
    padding: 0 15px;
    text-decoration: none;
    float: none;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #444;
    text-shadow: 0.1px 1px 2px #888;
    display: inline;
    line-height: 1.42857143;
    padding-left: 20px;
    padding-right: 20px;
}
.themonic-nav a:hover {
    background-color: #cc1919;
    color: #fff;
}
.themonic-nav a:active {
    background-color: #cc1919;
    color: #fff;
}
#menu-top ul {
    list-style: none;
}
#menu-top li {
    display: inline;
}
.wrapper {
    border: 1px solid #e9e9e9;
    height: auto;
}
.site-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
}
.site-content h6 {
    color: #d22727;
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
}
footer {
    background-color: #d1cece;
    width: 100%;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #e9e9e9;
    font-size: 14px;
    height: auto;
    line-height: 2;
    text-align: center;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer a, p {
    color: #444;
    text-decoration: none;
}
/*education*/
#education1 {
    border: 1px solid #e9e9e9;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
#education1 img {
    float: left;
    padding-right: 40px;
    padding-left: 20px;
}
#education1 h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #d22727;
    text-shadow: 0.1px 1px 2px #888;
}
#education1 p {
    overflow: auto;
}
#education2 {
    border: 1px solid #e9e9e9;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
#education2 img {
    float: left;
    padding-right: 40px;
    padding-left: 20px;
}
#education2 h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #d22727;
    text-shadow: 0.1px 1px 2px #888;
}
#education2 p {
    overflow: auto;
}
#education3 {
    border: 1px solid #e9e9e9;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
#education3 img {
    float: left;
    padding-right: 40px;
    padding-left: 20px;
}
#education3 h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #d22727;
    text-shadow: 0.1px 1px 2px #888;
}
#education3 p {
    overflow: auto;
}
#imagelogo {
    border: #444 1px solid;
}
/*hireme additional css*/
.site-content1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: auto;
}
.site-content1 a {
    width: 240px;
    height: 248px;
    padding: 25px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1.875rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #d22727;
    text-shadow: 0.1px 1px 2px #888;
    background-repeat: no-repeat;
    text-decoration: none;
}
#col1 {
    margin: 15px;
    display: flex;
    border: #444 1px;
    border-radius: 50%;
    background-color: #bdbaba;
    transform: skewY(20deg);
}
#col1:hover {
    transform: rotate(360deg);
}
#col2:hover {
    transform: rotate(360deg);
}
#col3:hover {
    transform: rotate(360deg);
}
#col2 {
    margin: 15px;
    display: flex;
    border: #444 1px;
    border-radius: 50%;
    background-color: #bdbaba;
    transform: skewY(20deg);
}
#col3 {
    margin: 15px;
    display: flex;
    border: #444 1px;
    border-radius: 50%;
    background-color: #bdbaba;
    transform: skewY(20deg);
}
#col1 a:hover {
    transform: rotate(360deg);
}
#col2 a:hover {
    transform: rotate(360deg);
}
#col3 a:hover {
    transform: rotate(360deg);
}
/*projects css*/
#table1 {
    border-collapse: collapse;
    width: 100%;
}
#table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
}
#table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
#table1 tr:hover {
    background-color: #ddd;
}
#table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e03232;
    color: white;
}
#table1 a:hover {
    color: #d22727 
}
/*experince css*/
#coloum1 {
    float: left;
    width: 380px;
    height: auto;
}
#coloum2 {
    width: 380px;
    margin-right: 50px;
    height: auto;
    display: block;
    padding-left: 450px;
    width: auto;
}
#coloum2 h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #d22727;
    text-shadow: 0.1px 1px 2px #888;
}
#coloum1 h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    color: #d22727;
    text-shadow: 0.1px 1px 2px #888;
}
/*form*/
#form1 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#form1 input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
video {
    border: #333 5px solid;
}
#form1 input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#form1 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#form1 input[type=submit] {
    width: 100%;
    background-color: #d43d3d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#form1 input[type=submit]:hover {
    background-color: #d43d3d;
}
/*media query for tablet phone*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #imagelogo {
        display: none;
   }
    #hgroup a {
        font-size: 40px;
   }
    video {
        transform: scaleX(0.8);
   }
    #hgroup .site-description {
        font-size: 20px;
   }
    .themonic-nav li a {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
   }
    .site-content1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: auto;
   }
    #coloum1 img {
        float: left;
        padding-right: 20px;
        padding-left: 10px;
   }
    #coloum2 img {
        float: left;
        padding-right: 20px;
        padding-left: 10px;
   }
    #coloum1 {
        float: none;
        width: auto;
        border: 1px solid #e9e9e9;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 15px;
   }
    #coloum2 {
        width: 706px;
        padding-left: 0;
        border: 1px solid #e9e9e9;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 15px;
        padding: 15px;
   }
    .site-content h6 {
        font-size: 28px;
   }
    #main {
        font-size: 23px;
   }
    #education1 img {
        width: 280px;
        height: 250px;
   }
    #education2 img {
        width: 280px;
        height: 250px;
   }
    #education3 img {
        width: 280px;
        height: 250px;
   }
    #education1 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
   }
    #education2 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
   }
    #education3 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
   }
    #education1 h1 {
        font-size: 28px;
   }
    #education2 h1 {
        font-size: 28px;
   }
    #education3 h1 {
        font-size: 28px;
   }
   /*hiremobile*/
    .site-content1 a {
        font-size: 33px;
        width: 400px;
        height: 400px;
   }
}
/*media query for mobile phone*/
@media screen and (max-width: 767px) {
   /*headermobile*/
    #imagelogo {
        display: none;
   }
    video {
        display: none;
   }
    #hgroup a {
        font-size: 42px;
   }
    #hgroup .site-description {
        font-size: 22px;
   }
    .themonic-nav li a {
        font-size: 23px;
        display: block;
        padding: 2px;
   }
    .themonic-nav li {
        border-bottom: 3px #cc1919 solid;
   }
    #coloum1 h1 {
        font-size: 25px;
   }
    #coloum2 h1 {
        font-size: 25px;
   }
    .site-content1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: auto;
   }
    #coloum1 img {
        float: left;
        padding-right: 20px;
        padding-left: 10px;
   }
    #coloum2 img {
        float: left;
        padding-right: 20px;
        padding-left: 10px;
   }
    #coloum1 {
        float: none;
        width: auto;
        border: 1px solid #e9e9e9;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 15px;
   }
    #coloum2 {
        width: 706px;
        padding-left: 0;
        border: 1px solid #e9e9e9;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 15px;
        padding: 15px;
   }
    .site-content h6 {
        font-size: 30px;
   }
    #main {
        font-size: 25px;
   }
    #education1 img {
        display: none;
   }
    #education2 img {
        display: none;
   }
    #education3 img {
        display: none;
   }
    #education1 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
   }
    #education2 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
   }
    #education3 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
   }
    #education1 h1 {
        font-size: 30px;
   }
    #education2 h1 {
        font-size: 30px;
   }
    #education3 h1 {
        font-size: 30px;
   }
   /*hiremobile*/
    .site-content1 a {
        font-size: 40px;
        width: 400px;
        height: 400px;
   }
}
